/* @import url('https://fonts.googleapis.com/css?family=Nunito&display=swap'); */

@import url('https://fonts.googleapis.com/css?family=Anton|Nunito:300|Pacifico|Playfair+Display&display=swap');

/* font-family: 'Playfair Display', serif;
font-family: 'Nunito', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Pacifico', cursive; */

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    min-width: 1200px;
}

.nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #ffffff;
    height: 4rem;
    line-height: 0.5rem;
    text-align: center;
    min-width: 1500px;
    border-bottom: 1px solid gray;
}

.sub-menu {
    display: none;
    position: absolute;
}

hr {
    margin-top: -2rem;
    width: 3rem;
    border: 1px solid black;
    color: black;
    transform: rotate3d(0, 0, 1, 45deg);
    margin-bottom: 4rem;
}

.nav li:hover .sub-menu {
    display: block;
    background-color: #ffffff;
    z-index: 1;
    margin-top: 0.5rem;
    width: max-content;
    opacity: 4s;
}

.sub-menu li {
    padding-top: 1rem;
    height: 2rem;
    line-height: 1rem;
    margin-left: -2rem;
    list-style: none;
}

.sub-menu li :hover {
    color: lightgray;
}

.sub-menu a {
    text-decoration: none;
    color: black;
}

.nav-item {
    display: inline-block;
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.nav-item :hover {
    color: lightgray;
}

.nav-icon {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}

.menu-address {
    text-align: center;
    color: white;
    background: black;
    font-size: 14px;
    padding-bottom: 1px;
    padding-top: 1px;
    z-index: 1000;
    padding-top: 4rem;
}

.section {
    position: relative;
    min-height: 100%;
    width: 100%;
    box-sizing: border-box;
    background: 50% 50% / cover;
}

#Main-Hero {
    background-image: url('../images/happy.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 65rem;
    background-attachment: fixed;
}

.logo {
    text-align: center;
    padding-top: 3rem;
}

.content-1 {
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 15rem;
}

.content-2 {
    font-size: 30px;
    color: white;
    font-family: 'Anton', sans-serif;
    text-align: center;
    margin-top: 10rem;
}

#content-2 {
    margin-right: 4rem;
}

.content-3 {
    font-size: 30px;
    color: white;
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-weight: 18px;
}

#content-3 {
    margin-right: 3rem;
}

.introduction {
    /* position: absolute; */
    height: 500px;
    background-color: #ffffff;
}

.title-header {
    text-align: center;
    font-family: playfair display !important;
    font-size: 84px;
    color: #2F2E2E;
}

.introduction-text {
    font-size: 24px;
    text-align: center;
    line-height: 1.6em;
    white-space: nowrap
}

.column-1 {
    float: left;
    width: 50%;
    margin-bottom: -0.4rem;
    position: relative;
    display: inline-block
}

.column-1-text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 10%;
    color: #fff;
    width: 60%;
}

.column-3-text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 30%;
    width: 60%;
}

.live-text {
    font-family: 'Anton', sans-serif;
    display: block;
    font-size: 80px;
    letter-spacing: 4.2rem;
    color: rgb(139, 1, 0);
    font-weight: 80;
}

.music-text {
    font-family: 'Anton', sans-serif;
    display: block;
    margin-top: -3rem;
    font-size: 80px;
    letter-spacing: 4.5rem;
    color: rgb(232, 232, 232);
    font-weight: 80;
}

.text-1 {
    font-family: 'Playfair Display', serif;
    font-size: 84px;
    display: block;
}

.text-2 {
    padding-top: -1rem;
    font-family: playfair display;
    font-size: 84px;
    display: block;
}

.column-2 {
    float: left;
    width: 33.33%;
    margin-bottom: -0.4rem;
}

.column-3 {
    float: left;
    width: 100%;
    margin-bottom: -0.4rem;
    position: relative;
    display: inline-block;
}

.column-4 {
    float: left;
    width: 100%;
    /* margin-bottom: -0.4rem; */
}

.image::after {
    content: "";
    clear: both;
    display: table;
}

.img {
    width: 100%;
}

.location {
    background-color: lightgray;
    text-align: center;
    background-color: #ffffff;
}

.location-title {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    color: rgb(222, 80, 33);
}

.content-item {
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    text-align: center;
    display: block
}

.content-address {
    font-family: 'Playfair Display', serif;
    display: block;
    font-size: 50px;
    text-align: center;
    margin-top: -1.5rem;
}

.content-address-street {
    padding-left: 2rem;
    padding-right: 2rem;
    display: block;
    font-size: 20px;
    text-align: center;
    margin-top: 0rem;
    width: auto;
}

.content-link a {
    padding-top: 1rem;
    text-decoration: underline;
    color: rgb(222, 80, 33);
    /* border-bottom: 3px solid rgb(222, 80, 33); */
    letter-spacing: 0.01em;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
}

.grid-1 {
    padding-top: 0px;
    display: grid;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
}

.grid-1 div {
    color: black;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.grid-2 {
    padding-top: 0px;
    display: grid;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
}

.grid-2 div {
    color: black;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.footer-logo {
    font-family: 'Playfair Display', serif;
    display: inline-block;
    font-size: 84px;
    text-align: center;
    padding-top: 5rem;
    color: #2F2E2E;
}

.footer-address {
    list-style: none;
    text-align: left;
    font-size: 14px;
}

.footer-1 {
    background-color: #E8E8E8;
    margin-top: 2rem;
}

.footer-title {
    display: block;
    font-size: 14px;
    text-align: center;
    margin-top: -1rem;
}

.footer-info {
    margin-left: 5.5rem;
    padding-top: 2rem;
}

.footer-2 {
    height: 2rem;
    text-align: center;
    line-height: 2rem;
}

.hr {
    border-bottom: 1px solid black;
    width: 5px;
    transform: rotate3d(0, 0, 1, 45deg);
    margin-top: -35%;
    margin-left: 90%;
}